In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import io
import requests

In [66]:
arrest_data = requests.get('https://www.ethnicity-facts-figures.service.gov.uk/crime-justice-and-the-law/policing/number-of-arrests/latest/downloads/number-of-arrests.csv').content
arrest_df = pd.read_csv(io.StringIO(arrest_data.decode('utf-8')))
arrest_df = arrest_df.drop(columns=['Notes'])
arrest_df = arrest_df.dropna()
arrest_df = arrest_df[arrest_df['Age_Group'] == 'All']
arrest_df = arrest_df[arrest_df['Gender'] == 'All']
arrest_df['id'] = arrest_df.index

In [20]:
pop_df = pd.read_excel('/content/ukmidyearestimates20192020ladcodes.xls', sheet_name='MYE 5', header=4)
pop_df = pop_df.dropna()

In [65]:
arrest_df

                  Measure  ...      id
53352   Number of arrests  ...   53352
53353   Number of arrests  ...   53353
53354   Number of arrests  ...   53354
53355   Number of arrests  ...   53355
53356   Number of arrests  ...   53356
...                   ...  ...     ...
218587  Number of arrests  ...  218587
218588  Number of arrests  ...  218588
218589  Number of arrests  ...  218589
218590  Number of arrests  ...  218590
218591  Number of arrests  ...  218591

[12144 rows x 16 columns]

In [51]:
pop_df

          Code  ... 2001 people per sq. km
0    K02000001  ...                  244.0
1    K03000001  ...                  251.0
2    K04000001  ...                  347.0
3    E92000001  ...                  379.0
4    E12000001  ...                  296.0
..         ...  ...                    ...
421  N09000006  ...                   37.0
422  N09000007  ...                  246.0
423  N09000008  ...                  120.0
424  N09000009  ...                   65.0
425  N09000010  ...                   91.0

[426 rows x 42 columns]

In [67]:
merge_df = pd.merge(left=arrest_df, left_on='Geography', right=pop_df, right_on='Name')
merge_df['id'] = merge_df.index

In [70]:
merge_df.to_csv('output_test.csv')

Arrests in the UK by ethnicity by area across uk (city(urban area), small town/village(rural b area)) 

First use a classification method to classify what sort of area places are

get arrest data on a mix of different places from each category from different regions in the uk over a set period




How can you remove ai bias from an algorithm which is designed to find social bias?


Filter arrest data by all age, all genders