In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import io
import requests

In [4]:
ethnicity_data = 'https://www.ethnicity-facts-figures.service.gov.uk/crime-justice-and-the-law/policing/number-of-arrests/latest/downloads/number-of-arrests.csv'
s = requests.get(ethnicity_data).content
df = pd.read_csv(io.StringIO(s.decode('utf-8')))

In [5]:
df

                  Measure  ...                                              Notes
0       Number of arrests  ...                                                NaN
1       Number of arrests  ...                                                NaN
2       Number of arrests  ...                                                NaN
3       Number of arrests  ...                                                NaN
4       Number of arrests  ...                                                NaN
...                   ...  ...                                                ...
218587  Number of arrests  ...                                                NaN
218588  Number of arrests  ...                                                NaN
218589  Number of arrests  ...                                                NaN
218590  Number of arrests  ...                                                NaN
218591  Number of arrests  ...  Excludes Lancashire (both arrest and populatio...

[218592 rows x 16 columns]

Arrests in the UK by ethnicity by area across uk (city(urban area), small town/village(rural b area)) 

First use a classification method to classify what sort of area places are

get arrest data on a mix of different places from each category from different regions in the uk over a set period




How can you remove ai bias from an algorithm which is designed to find social bias?