In [37]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [28]:
columns = ['JokeCount'] + [f'Joke{num + 1}' for num in range(100)]
df = pd.read_csv('https://raw.githubusercontent.com/albanda/CE888/master/lab4-recommender/jester-data-1.csv', header=None, names=columns, na_values=99.00)
df = df.drop(columns=['JokeCount'])

In [29]:
df

       Joke1  Joke2  Joke3  Joke4  ...  Joke97  Joke98  Joke99  Joke100
0      -7.82   8.79  -9.66  -8.16  ...   -5.63     NaN     NaN      NaN
1       4.08  -0.29   6.36   4.37  ...    3.06    0.34   -4.32     1.07
2        NaN    NaN    NaN    NaN  ...     NaN     NaN     NaN      NaN
3        NaN   8.35    NaN    NaN  ...     NaN     NaN     NaN      NaN
4       8.50   4.61  -4.17  -5.39  ...    3.11    6.55    1.80     1.60
...      ...    ...    ...    ...  ...     ...     ...     ...      ...
24978   0.44   7.43   9.08   2.33  ...    6.55    8.69    8.79     7.43
24979   9.13  -8.16   8.59   9.08  ...   -7.23   -8.59    9.13     8.45
24980    NaN    NaN    NaN    NaN  ...     NaN     NaN     NaN      NaN
24981    NaN    NaN    NaN    NaN  ...     NaN     NaN     NaN      NaN
24982   2.43   2.67  -3.98   4.27  ...     NaN     NaN     NaN      NaN

[24983 rows x 100 columns]

In [74]:
df.iloc[2700]['Joke69']

4.71

In [30]:
def replace(orig, percentage=0.1):
  """
  Replaces 'percentage'% of the original values in 'orig' with 99's
  :param orig: original data array
  :param percentage: percentage of values to replace (0<percentage<1)
  """
  new_data = orig.copy()
  rated = np.where(arr!=99)
  n_rated = len(rated[0])
  idx = np.random.choice(n_rated, size=int(percentage*n_rated), replace=False)
  new_data[rated[0][idx], rated[1][idx]] = 99
  return new_data, (rated[0][idx], rated[1][idx])

In [54]:
values = df.values
new_values, validation_indices = replace(values, 0.1)

In [32]:
def predict_rating(user_id, item_id):
    """ Predict a rating given a user_id and an item_id.
    """
    user_preference = latent_user_preferences[user_id]
    item_preference = latent_item_features[item_id]
    return user_preference.dot(item_preference)


def train(user_id, item_id, rating, alpha=0.0001):
    #print(item_id)
    predicted_rating = predict_rating(user_id, item_id)
    err =  predicted_rating - rating
    #print(err)
    user_pref_values = latent_user_preferences[user_id]
    latent_user_preferences[user_id] -= alpha * err * latent_item_features[item_id]
    latent_item_features[item_id] -= alpha * err * user_pref_values
    return err
    

def sgd(iterations):
    """ Iterate over all users and all items and train for 
        a certain number of iterations
    """
    mse_history = []
    for iteration in range(iterations):
        error = []
        for user_id in range(latent_user_preferences.shape[0]):
            for item_id in range(latent_item_features.shape[0]):
                rating = user_ratings[user_id, item_id]
                if not np.isnan(rating):
                    err = train(user_id, item_id, rating)
                    error.append(err)
        mse = (np.array(error) ** 2).mean()   
        if (iteration % 10000) == 0:
            print('Iteration %d/%d:\tMSE=%.6f' % (iteration, iterations, mse))
            mse_history.append(mse)
    return mse_history

In [41]:
n_latent_factors = 4

user_ratings = df.values
# Initialise as random values
latent_user_preferences = np.random.random((user_ratings.shape[0], n_latent_factors))
latent_item_features = np.random.random((user_ratings.shape[1], n_latent_factors))

In [43]:
hist = sgd(100) 
plt.figure()
plt.plot(np.arange(0, 100, 10000), hist)
plt.xlabel("Iterations")
plt.ylabel("MSE")
plt.show()

Iteration 0/100:	MSE=15.718109

KeyboardInterrupt: ignored

In [68]:
values_copy = values
validation_size = len(validation_indices[0])
errors = []
for i in range(validation_size):
  user_id = validation_indices[0][i]
  item_id = validation_indices[1][i]
  prediction_rating = predict_rating(user_id, item_id)
  rating = user_ratings[user_id, item_id]
  if not np.isnan(rating):
    real_rating = values_copy[user_id][item_id]
  error = prediction_rating - real_rating
  errors.append(error)
mse = (np.array(errors) ** 2).mean()
print('Validation MSE:', mse)

Validation MSE: 22.734361756712936

In [69]:
test = np.zeros(values_copy.shape)
r, c = values_copy.shape
for user_id in range(r):
  for item_id in range(c):
    if np.isnan(values_copy[user_id][item_id]):
      test[user_id][item_id] = predict_rating(user_id, item_id)
    else:
      test[user_id][item_id] = values_copy[user_id][item_id]

In [70]:
test

array([[-7.82      ,  8.79      , -9.66      , ..., -2.36741381,
        -6.48517599, -2.33820168],
       [ 4.08      , -0.29      ,  6.36      , ...,  0.34      ,
        -4.32      ,  1.07      ],
       [ 7.65784927,  6.32952811,  6.99653751, ...,  5.28074815,
         6.85097263,  6.19772137],
       ...,
       [-1.69156225,  0.01999107, -0.99272222, ...,  1.10313701,
        -2.51553816,  1.36734915],
       [-1.57359769, -0.11547061, -1.93240118, ..., -0.0184509 ,
        -4.85078741,  0.46082388],
       [ 2.43      ,  2.67      , -3.98      , ...,  4.57157973,
         3.39189658,  4.88511045]])

In [75]:
movie_items = pd.read_excel('https://github.com/albanda/CE888/blob/master/lab4-recommender/movies_latent_factors.xlsx?raw=true', sheet_name='Items')
movie_users = pd.read_excel('https://github.com/albanda/CE888/blob/master/lab4-recommender/movies_latent_factors.xlsx?raw=true', sheet_name='Users')

In [78]:
movie_items

    Movie ID  ...  Factor15
0         11  ... -0.248806
1         12  ...  1.274993
2         13  ... -0.419092
3         14  ... -0.681191
4         22  ... -2.292566
..       ...  ...       ...
95      9806  ...  1.017861
96     10020  ... -0.487076
97     36657  ...  0.067790
98     36658  ... -0.288130
99     36955  ... -0.022599

[100 rows x 17 columns]